<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ToDoアプリ  ログイン</h1>
    <p>ログインIDを入力して「Login」を押してください。</p>

    <form role="form" th:action="@{/login}" th:object="${LoginForm}" method="get">
        <table>
            <tr>
                <td><label>メンバーID: </label></td>
                <td><input type="text" required th:field="*{mid}"/></td>
            </tr>
        </table>
        <p><input type="submit" value="Login" /></p>
    </form>
</body>
</html>